# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
build/
.turbo/
*.tsbuildinfo

# Tests / coverage
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Prisma / TypeORM (nếu có)
migration.sql

# Vercel
.vercel

# Cloudflare Wrangler
.wrangler/

