# ====== Frontend env (copy to .env.local) ======
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# NextAuth.js — PHẢI GIỐNG JWT_SECRET bên BE
NEXTAUTH_SECRET=super-secret-key-change-me-min-32-chars-long-aaaaaa
NEXTAUTH_URL=http://localhost:3000
